<!-- templates/home.html -->
{% extends 'Account/Base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<a href="{% url 'user_search' %}">Search</a></h2>
    <h2>Recent Posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <p>{{ post.text }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image">
                {% endif %}
                {% if post.video %}
                    <video controls>
                        <source src="{{ post.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                <form method="post" action="{% url 'like_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                </form>
                <p>Likes: {{ post.likes.count }}</p>
                <ul>
                    {% for comment in post.comments.all %}
                        <li>{{ comment.user.username }}: {{ comment.text }}</li>
                    {% empty %}
                        <li>No comments yet.</li>
                    {% endfor %}
                </ul>
                <form method="post" action="{% url 'comment_post' post.id %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit">Comment</button>
                </form>
            </li>
        {% empty %}
            <li>No posts found.</li>
        {% endfor %}
    </ul>

{% endblock %}