<!-- templates/home.html -->
{% extends 'Account/Base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h2> Enjoy Your Day With Trend...</h2>
        <div class="row row-cols-4 row-cols-md-2 g-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            {% for post in posts %}
            <div class="col shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <div class="card">
                    <div class="card-body bg-primary-subtle">

                        <b><p class="card-text">@{{ post.user }}</p></b>
                        <p>{{post.created_at}}</p>
                        <b><p class="card-text">{{ post.text }}...</p></b>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
                        {% endif %}
                        {% if post.video %}
                        <video controls class="card-img-top">
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {% endif %}
                        
                        <form method="post" action="{% url 'like_post' post.id %}" class="mt-2 mb-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary "> {{ post.likes.count }} Like</button>
                        </form>
                        
                        <ul class="list-group list-group-flush">
                            {% for comment in post.comments.all %}
                            <li class="list-group-item">@{{ comment.user.username }}: {{ comment.text }}</li>
                            {% empty %}
                            <li class="list-group-item">No comments yet.</li>
                            {% endfor %}
                        </ul>
                        <form method="post" action="{% url 'comment_post' post.id %}">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <button type="submit" class="btn btn-primary mt-2">Comment</button>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No posts found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
