<!-- templates/notifications.html -->
{% extends 'Account/Base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <h2>Notifications</h2>
    <ul>
        {% for notification in notifications %}
            <li {% if notification.read %}style="color: gray;"{% endif %}>
                {{ notification.message }}
                {% if not notification.read %}
                    <a href="{% url 'mark_notification_as_read' notification.id %}">Mark as Read</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No notifications</li>
        {% endfor %}
    </ul>
{% endblock %}
